.myhero {
    background-image: url("../images/hero.png") !important;
}

.hero {
    text-align: center;
}

p.title {
    color: #fff;
}

.media-content p.title {
    color: #000 !important;
}

.searchbtn {
    margin: auto auto;
}